<div class="row">
  <div class="bottom col-xs-12" ng-hide="$state.is('main.movie.trailer')"></div>
  <div class="col-xs-12 links">
    <p>
      <a class="color-effect" href="http://www.gizra.com/" target="_blank">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Gizra
      </a>
      <span class="divider"> | </span>
      <a class="color-effect" href="https://github.com/YaronMiro/AngularJs-UI-Router---Example" target="_blank">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Get the code
      </a>
      <span class="divider"> | </span>
      <a class="color-effect" href="https://github.com/YaronMiro" target="_blank">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Yaron Miro
      </a>
    </p>
  </div>
</div>
