<div class="row">
  <div  class="col-is-8  col-xs-10">
    <h1>
      <span ng-if="parseInt($stateParams.originBookmark) == false || $state.is('main.movies')">Itunes <span class="text-muted">top 60 movies</span></span>
      <span ng-if="parseInt($stateParams.originBookmark) == true || $state.is('main.bookmarks')">My <span class="text-muted">bookmarks</span></span>
      <span ng-show="$state.current.data"> - {{ $state.current.data.breadcrumbs }}</span>
    </h1>
  </div>
  <div class="col-is-4 col-xs-2 pull-left">
    <nav role="navigation" class="navbar pull-right">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <i class="menu-icon fa fa-bars"></i>
        </button>
      </div>
      <div class="hidden-xs pull-right"  ng-include="'views/includes/navigation.html'"></div>
    </nav>
  </div>
  <div class="mobile-menu col-xs-12 visible-xs">
    <div id="navbarCollapse" class="collapse navbar-collapse" ng-include="'views/includes/navigation.html'"></div>
  </div>
  <div class="col-xs-12">
    <!--Bookmarks notifications -->
    <div ng-if="$state.is('main.bookmarks')" class="bookmarks-notification text-lowercase text-center">
      <div>
        <span class="text fa fa-exclamation-circle" ng-show="!localStorageService.isSupported">
          In order to use this feature you must enable your browser - local storage capability.
        </span>
      </div>
      <div>
        <span class="text fa fa-exclamation-circle" ng-hide="!localStorageService.isSupported || notificationOff">
          Bookmarked movies are stored on your browser local storage.<span type="button" ng-click="notificationOff = true" class="fa fa-times-circle btn-close" ></span>
        </span>
      </div>
    </div>
  </div>
  <div class="top col-xs-12"></div>
</div>
