<div class="row">
  <div  class="col-sm-6 col-xs-10">
    <!-- Itunes content -->
    <h1 ng-if="$stateParams.originBookmark === '0' || $state.is('main.movies')">
      Itunes <span class="text-muted">top 30 movies</span>
      <span ng-show="$state.is('main.movie.trailer')"> - trailer</span>
      <span ng-show="$state.is('main.movie.movieInfo')"> - info</span>
    </h1>
    <!-- Bookmarked content -->
    <h1 ng-if="$stateParams.originBookmark === '1' || $state.is('main.bookmarks')">
      My <span class="text-muted">bookmarks</span>
      <span ng-show="$state.is('main.movie.trailer')"> - trailer</span>
      <span ng-show="$state.is('main.movie.movieInfo')"> - info</span>
    </h1>
  </div>
  <div class="col-sm-6 col-xs-2 pull-left">
    <nav role="navigation" class="navbar pull-right">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <i class="menu-icon fa fa-bars"></i>
        </button>
      </div>
      <div class="hidden-xs pull-right"  ng-include="'views/includes/navigation.html'"></div>
    </nav>
  </div>
  <div class="mobile-menu col-xs-12 visible-xs">
    <div id="navbarCollapse" class="collapse navbar-collapse" ng-include="'views/includes/navigation.html'"></div>
  </div>
  <div class="col-xs-12">
    <!--Bookmarks notifications -->
    <div ng-show="$state.is('main.bookmarks')" class="bookmarks-notification text-lowercase text-center fadein fadeout">
      <div>
        <span class="text fa fa-exclamation-circle" ng-show="!localStorageService.isSupported">
          In order to use this feature you must enable your browser - local storage capability.
        </span>
      </div>
      <div>
        <span class="text fa fa-exclamation-circle fadein fadeout" ng-hide="!localStorageService.isSupported || notificationOff">
          Bookmarked movies are stored on your browser local storage.<span type="button" ng-click="notificationOff = true" class="fa fa-times-circle btn-close" ></span>
        </span>
      </div>
    </div>
  </div>
  <div class="top col-xs-12"></div>
</div>
