<ul class="nav nav-pills">
  <!--Movies view -->
  <div class="visible-xs border"></div>
  <li ui-sref-active-eq="active">
    <a ui-sref="main.movies"><i class="fa fa-th-list"></i></a>
  </li>
  <div class="visible-xs border"></div>
  <!--Movie full view -->
  <li ng-if="$state.is('main.movies.trailer')">
    <a ui-sref="main.movies.full({'name': $stateParams.name, 'position': $stateParams.position})">
      <i class="fa fa-info"></i>
    </a>
  </li>
  <div class="visible-xs border"></div>
</ul>
