<button class="color-effect" data-toggle="collapse" data-target="#genre-menu"><i class="fa fa-tags"></i> | Filter by movie genre <span ng-hide="movies.filterByGenre == '!All'">: {{ movies.filterByGenre }}</span> </button>
<div id="genre-menu" class="collapse">
  <ul>
    <li data-toggle="collapse" data-target="#genre-menu" class="genre color-effect" ng-repeat="(name, count) in movies.genres" ng-click="movies.filterByGenre = name === 'All' ? '!All' : name; movies.data.count = count">
      <span class="name">{{ ::name }}</span> <span class="count">({{ ::count }})</span>
    </li>
  </ul>
</div>
<div class="top"></div>
