<ul class="nav nav-pills">
  <!--Bookmarks view -->
  <li ui-sref-active-eq="active" title="Bookmarks">
    <div class="visible-xs border"></div>
    <a class="color-effect"  ui-sref="main.bookmarks"><i class="fa fa-bookmark"></i></a>
  </li>
  <!--Movies view -->
  <li ui-sref-active-eq="active" title="Movies">
    <div class="visible-xs border"></div>
    <a class="color-effect"  ui-sref="main.movies"><i class="glyphicon glyphicon-th"></i></a>
    <div class="visible-xs border"></div>
  </li>
  <!--Movie full view -->
  <li ng-if="$state.is('main.movies.trailer')" title="Read more">
    <a class="color-effect" ui-sref="main.movies.full({'name': $stateParams.name, 'position': $stateParams.position})">
      <i class="fa fa-info"></i>
    </a>
    <div class="visible-xs border"></div>
  </li>
</ul>
