$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#main {

  .header,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content {
    background: white;
    padding: 19px;

    .jumbotron {
      text-align: center;
      margin: 0px;
    }
  }

  .header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 19px;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
    }
  }

  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }

  .btn-view {
  @include button-variant(white, #337ab7, #2d6198);
  @include button-size(8px, 8px, 16px, 0px, 6px);

  }
}




