@import "mixin";

body {
  font-size: 13px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
}

.border {
  background: $blue;
  height: 1px;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(41, 137, 216, 0.51) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(41, 137, 216, 0.51)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(41, 137, 216, 0.51) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(41, 137, 216, 0.51) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(41, 137, 216, 0.51) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(41, 137, 216, 0.51) 50%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

#main {

  @include mobile-only {
    padding: 0px 30px;
  }

  #main-header,
  #main-footer {

    .top,
    .bottom {
      padding: 20px;
      text-align: center;
      margin: 0px;
      background: $darkGray;
    }
  }

  #main-header {
    color: $gray;
    text-transform: uppercase;

    .top {
      @include border-top-left-radius(6px);
      @include border-top-right-radius(6px);
    }

    .navbar {
      margin-bottom: 0px;

      .navbar-toggle {

        border: 1px solid $blue;

        .icon-bar {
          background: $blue;
        }
      }
    }

    h1 {
      font-size: 24px;
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
    }

    .nav-pills {
      li {
        cursor: pointer;

        @include mobile-only {
          float: none;
        }

        &.active {
          a {
            border-color: $blue;
            color: $blue;
          }
        }

        &:nth-child(n+1) {
          margin-right: 10px;
        }

        a {
          color: white;
          background: transparent;
          border: 1px solid white;

          &:hover {
            color: $blue;
            border-color: $blue
          }
        }
      }
    }
  }

  #main-footer {

    .bottom {
      @include border-bottom-left-radius(6px);
      @include border-bottom-right-radius(6px);
    }

    .links{

      margin-top: 15px;

      a {
        color: white;

        &:hover {
          text-decoration: none;
          color: #337ab7;
        }

        span {
          color: $gray;
        }
      }

      .divider {
        color: $gray;
        display: inline-block;
        margin: 0px 3px;
      }
    }
  }

  .movies-wrapper {

    @include large-desktop-only {
      height: 570px;
    }

    @include medium-desktop-only {
      height: 470px;
    }

    @include tablet-only {
      height: 360px;
    }

    .preview {

      cursor: pointer;
      @include transition(opacity 0.5s ease-in-out);

      &:hover {
        @include opacity(0.6);
      }

      .popularity-ranking {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.25);
        padding: 10px;
        color: white;
        font-weight: bold;
        @include border-top-left-radius(6px);
      }
    }

    .summary {
      color: #ffffff;
      text-align: center;

      .title {
          margin-top: 14px;

        h3 {
          text-transform: uppercase;
          color: white;
          margin: 14px 0px;
          font-size: 16px;
          font-weight: bold;
        }

        .border {
          width: 85%;
          height: 2px;
        }
      }

      .rating {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        display: inline-block;
        @include border-radius(5px);
        background: $blue;

        i {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .wrapper {
        padding-right: 20px;
        padding-left: 20px;
        color: $gray;

        label {
          margin-top: 7px;
        }
      }

      .links {
        margin-top: 7px;

        button {
          background: transparent;
          width: 70px;
          height: 70px;
          font-size: 27px;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  .full {
    padding-left: 30px;
    padding-right: 30px;

    .title {

      h3 {
        margin: 13px 0px;
        font-weight: bold;
        color: white;
      }

      .border {
        height: 2px;
      }
    }

    .info-container, .image-container {
      padding-bottom: 30px;

      @include mobile-only {
        padding: 30px;
      }
    }

    .image-container {
      position: relative;
      padding-left: 30px;

      img {
        width: 100%;
        position: relative;
        padding: 20px;
        padding-top: 0px;
        border-width: 1px;
        border-style: solid;
        -webkit-border-image:
          -webkit-gradient(linear, 0 0, 0 100%, from(black), to($blue)) 1 100%;
        -webkit-border-image:
          -webkit-linear-gradient(black, $blue) 1 100%;
        -moz-border-image:
          -moz-linear-gradient(black, $blue) 1 100%;
        -o-border-image:
          -o-linear-gradient(black, $blue) 1 100%;
        border-image:
          linear-gradient(to bottom, black, $blue) 1 100%;

        @include mobile-only {
          padding-top: 30px;
        }
      }

      .rating-wrapper {
        color: #ffffff;
        font-weight: bold;
        position: relative;
        border-top: 1px solid $blue;

        .rating {
          position: absolute;
          top: -15px;
          left: calc(50% + -19px);
          padding: 5px;
          display: inline-block;
          @include border-radius(5px);
          background: $blue;

          i {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .play-button {
        z-index: 100;
        text-align: center;
        top: 40%;;
        left: 35%;
        position: absolute;
        background: rgba(20, 38, 53, 0.46);
        color: white;
        padding: 60px;
        @include border-radius(10%);
        @include box-shadow(black 0 0 25px, white 0 0 1px 1px inset);

        span {
          color: white;
          position: absolute;
          font-size: 70px;
          top: 22%;
          left: 21%;
        }
      }
    }

    .info-container {
      background: rgba(0,0,0,1);
      padding-right: 30px;

      @include mobile-only {
        padding-top: 0px;
      }

      .description {
        margin-top: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid $blue;
        color: rgba(255, 255, 255, 0.88);
        text-align: justify;
      }

      .details {

        width: 100%;
        position: relative;
        padding: 20px;
        border-width: 1px;
        border-style: solid;
        -webkit-border-image:
          -webkit-gradient(linear, 0 0, 0 100%, from($blue), to(black)) 1 100%;
        -webkit-border-image:
          -webkit-linear-gradient($blue, black) 1 100%;
        -moz-border-image:
          -moz-linear-gradient($blue, black) 1 100%;
        -o-border-image:
          -o-linear-gradient($blue, black) 1 100%;
        border-image:
          linear-gradient(to top, black, $blue) 1 100%;

        &:before {
          content: '';
          border: 1x solid $blue;
        }


        .wrapper {
          margin-top: 7px;
          color: rgba(255, 255, 255, 0.61);

          label {
            font-size: 16px;
          }

          .data {
            margin-bottom: 10px;
          }

          i{
            &:after {
              content: " | ";
            }
          }

          a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.61);
            margin-top: 5px;
            display: block;
          }

          &> * {
            font-size: 13px;
          }

          &.trailer {
            width: 70%;
            margin: 0 auto;
            margin-top: 20px;
            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.14) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,0.14)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.14) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.14) 51%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.14) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
            background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.14) 51%,rgba(255,255,255,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

            a {
              color: $blue;
            }

            i:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .movie-trailer {
    iframe {
      width: 100%;
      height: 500px;
    }
  }
}

.movie-links {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 30px;

  .link {
    font-size: 20px;
    color: $blue;
    padding: 8px;
    background: none;
    border: none;
    outline: none;

    &:hover {
      color: #2E538B;
    }
  }
}

.fadein,
.fadeout {

  &.ng-enter, &.ng-hide-remove  {
    opacity: 0;
    -webkit-transition: opacity 1.4s ease;
    -moz-transition: opacity 1.4s ease;
    -o-transition: opacity 1.4s ease;
    transition: opacity 1.4s ease;
  }

  &.ng-enter-active, &.ng-hide-remove-active {
    opacity: 1;
  }

  &.ng-leave-active, &.ng-hide-add-active {
    opacity: 0;
  }
}





