@import "compass/css3/border-radius";
@import "compass/css3/transition";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// Override default bootstrap variables.
$grid-gutter-width: 0px;

// Colors.
$gray: #777777;
$blue: #337ab7;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
}

#main {

  #main-header,
  #main-footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  #main-content {
    padding: 19px;

    .top,
    .bottom {
      padding: 20px;
      text-align: center;
      margin: 0px;
      background: rgb(30, 30, 30);
    }

    .top {
      @include border-top-left-radius(6px);
      @include border-top-right-radius(6px);
    }

    .bottom {
      @include border-bottom-left-radius(6px);
      @include border-bottom-right-radius(6px);
    }
  }

  #main-header {
    color: $gray;
    text-transform: uppercase;

    h3 {
      color: #ffffff;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 40px;
    }

    .nav-pills {

      li {
        &.active {
          a {
            border: 1px solid $blue;
          }
        }

        a {
          color: white;
          background: transparent;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  #main-footer {

    a {
      color: white;

      &:hover {
        text-decoration: none;
        color: #9e9e9e;
      }

      span {
        color: $gray;
      }
    }

    .divider {
      color: $gray;
      display: inline-block;
      margin: 0px 3px;
    }

    .back-to-top {
      text-transform: uppercase;
    }
  }

  .btn-view {
  @include button-variant(white, #337ab7, #2d6198);
  @include button-size(8px, 8px, 16px, 0px, 6px);

  }

  .movie {
    cursor: pointer;
    @include transition(opacity 0.5s ease-in-out);

    &:hover {
      @include opacity(0.6);
    }

    .index {
      position: absolute;
      bottom: 0px;
      right: 0px;
      background: rgba(0, 0, 0, 0.25);
      padding: 10px;
      color: white;
      font-weight: bold;
      @include border-top-left-radius(6px);
    }
  }
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
  transform: rotateY(180deg);
}


.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  border: 1px solid #ccc;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 427px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 160px;
  height: 117px;
  background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat;
}

.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}
