<div class="top"><!--<a class="btn-view"  ui-sref=".movie" ui-sref-active="active">movies</a>--></div>
  <section id="movies" class="row">
    <div class="movie col-xs-6 col-md-4"  id="{{ movie.trackId }}"  ng-repeat="movie in movies" ng-click="flag = !flag">
      <img ng-show="!flag" class="img-responsive" ng-src="{{ movie.artworkUrl600 }}" alt="{{ movie.trackName }} - poster image"/>
      <div class="index">{{ $index + 1 }}</div>
      <div ng-show="flag" class="summary">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto dolor fuga hic illum quidem reiciendis saepe sapiente sunt voluptates. Aperiam ducimus inventore iste iure molestiae mollitia neque, nisi voluptatem!</p>
      </div>
    </div>
  </section>
<section class="edit" ui-view></section>
<div class="bottom"></div>
