<div class="top"><!--<a class="btn-view"  ui-sref=".movie" ui-sref-active="active">movies</a>--></div>
  <section id="movies" class="row">
    <div class="movie col-xs-6 col-md-4"  id="{{ movie.trackId }}"  ng-repeat="movie in movies" ng-click="clickMe(movie.trackName)">
      <img class="img-responsive" ng-src="{{ movie.artworkUrl600 }}" alt="{{ movie.trackName }} - poster image"/>
      <div class="index">{{ $index + 1 }}</div>
    </div>
  </section>
<section class="edit" ui-view></section>
<div class="bottom"></div>
