<div class="row">
  <div class="col-xs-12 movie-links">
    <div next-previous-movie operator="<" selected-movie-index="selectedMovie.index" movies="movies" view-name="$state.current.name" class="pull-left"></div>
    <div next-previous-movie operator=">" selected-movie-index="selectedMovie.index" movies="movies" view-name="$state.current.name" class="pull-right"></div>
  </div>
  <div class="col-xs-12 movie-trailer">
    <iframe type="text/html" ng-src="{{ movieTrailerUrl }}" frameborder="0" allowfullscreen/>
  </div>
</div>
