<div class="summary">
  <h3>{{ movie.trackName }}</h3>
  <div class="popularity-ranking">{{ $index + 1 }}</div>
  <div class="wrapper">
    <div><strong>Genre: </strong> {{ movie.primaryGenreName }}</div>
    <div><strong>Release date: </strong><span>{{ movie.releaseDate | date:'longDate' }}</span></div>
    <div class="description">{{ movie.longDescription }}</div>
    <div><strong>{{ movie.artistName }}</strong></div>
  </div>
  <button class="btn" ng-click="$parent.viewMode = !viewMode">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    Back
  </button>
  <button class="btn" ui-sref="party">
    <span class="glyphicon glyphicon-film" aria-hidden="true"></span> Watch the trailer
  </button>
</div>
