<a href="#{{ movie.id }}" du-smooth-scroll duration="500" offset="90" class="preview" ng-click="movie.viewMode.value = !movie.viewMode.value; movies.scrollToSelf(movie.id)">
  <img ng-src="{{ movie.artworkUrl600 }}" alt="{{ movie.trackName }}-poster image"/>
  <div title="popularity ranking" class="popularity-ranking">{{ movie.index }}</div>
  <div title="Bookmarked movie" ng-hide="$state.is('main.bookmarks') || !localStorageService.isSupported || !movie.isBookmarked" class="bookmarked-icon">
    <i class="fa fa-check-square"></i>
  </div>
</a>
