<div class="row full">
  <!-- Image -->
  <div class="col-xs-4">
    <div class="image-container">
      <img ng-src="{{ movies[$stateParams.position].artworkUrl600 }}" alt="{{ movies[$stateParams.position].trackName }}-poster image"/>
      <div class="reflection">
        <img ng-src="{{ movies[$stateParams.position].artworkUrl600 }}" alt="{{ movies[$stateParams.position].trackName }}-poster image"/>
      </div>
    </div>
  </div>
  <!-- Info -->
  <div class="col-xs-8">
    <!-- Title -->
    <h3>{{ movies[$stateParams.position].trackName }}</h3>
  </div>
</div>
