<div class="row full">
  <!-- Image -->
  <div class="col-sm-4 col-xs-12">
    <div class="image-container">
      <img class="img-responsive" ng-src="{{ selectedMovie.artworkUrl600 }}" alt="{{ selectedMovie.trackName }}-poster image"/>
    </div>
  </div>
  <!-- Info -->
  <div class="col-sm-8 col-xs-12">
    <div class="info-container">
      <!-- Title -->
      <h3>{{ selectedMovie.trackName }}
        <span class="separator"> | </span>
        <span class="date">{{ selectedMovie.releaseDate | date:'longDate' }}</span>
      </h3>
      <div class="description">{{ selectedMovie.longDescription }}</div>
      <div class="movie-trailer">
        <!--<iframe type="text/html" ng-src="http://www.youtube.com/embed/?listType=search&list={{ selectedMovie.trackName }}%20trailer&controls=2&modestbranding=1&rel=0&showinfo=0&autoplay=1&hd=1" frameborder="0" allowfullscreen/>-->
        <iframe type="text/html" ng-src="http://www.youtube.com/embed/?listType=search&list=%22gone%20girl%22%20trailer&controls=2&modestbranding=1&rel=0&showinfo=0&autoplay=1&hd=1" frameborder="0" allowfullscreen/>
      </div>
    </div>
  </div>
</div>
