<div class="row full">
  <!-- Image -->
  <div class="col-sm-5 col-xs-12 image-container">
    <img class="img-responsive" ng-src="{{ selectedMovie.artworkUrl600 }}" alt="{{ selectedMovie.trackName }}-poster image"/>
    <div class="overlay-gradient"></div>
  </div>
  <!-- Info -->
  <div class="col-sm-7 col-xs-12 info-container">
    <!-- Title -->
    <h3>{{ selectedMovie.trackName }}
      <span class="separator"> | </span>
      <span class="date">{{ selectedMovie.releaseDate | date:'longDate' }}</span>
    </h3>
    <div class="description">{{ selectedMovie.longDescription }}</div>
    <div class="col-xs-12 movie-trailer">
      <iframe type="text/html" ng-src="{{ movieTrailerUrl }}" frameborder="0" allowfullscreen/>
    </div>
  </div>
</div>
