<!--<div class="top"></div>-->
  <!--<article id="movies" class="row">-->
    <!--<div class="col-xs-6 col-md-4 movies-wrapper" ng-repeat="movie in movies" ng-init="viewMode = false">-->
      <!--<section ng-show="!viewMode" ui-view="preview" class="fadein fadeout"></section>-->
      <!--<section ng-show="viewMode" ui-view="summary" class="fadein fadeout"></section>-->
    <!--</div>-->
  <!--</article>-->
<!--<div class="bottom"></div>-->

<section class="wrapper-test">
  <div id="card" ng-repeat="movie in movies" ng-init="flipMode = ''" class="{{ flipMode }}">
    <figure class="front" ui-view="preview">1</figure>
    <figure class="back" ui-view="summary">2</figure>
  </div>
</section>
