<div class="row">
  <div class="col-xs-12 movie-links">
    <div next-previous-movie operator="<" selected-movie-index="selectedMovie.index" movies="movies" view-name="$state.current.name"></div>
    <h3 class="text-center">{{ selectedMovie.trackName }}</h3>
    <div next-previous-movie operator=">" selected-movie-index="selectedMovie.index" movies="movies" view-name="$state.current.name"></div>
  </div>
  <div class="col-xs-12 movie-trailer">
    <iframe type="text/html" ng-src="{{ movieTrailerUrl }}" frameborder="0" allowfullscreen/>
  </div>
</div>
