<div class="summary">
  <h3>{{ movie.trackName }}</h3>
  <div class="popularity-ranking">{{ $index + 1 }}</div>
  <div class="wrapper">
    <div>
      <strong>Genre: &nbsp;</strong>
      <span>{{ movie.primaryGenreName }}</span>
    </div>
    <div>
      <strong>Release date: &nbsp;</strong>
      <span>{{ movie.releaseDate | date:'longDate' }}</span>
    </div>
    <div class="links">
      <button title="movie poster" class="btn" ng-click="viewMode.value = !viewMode.value">
        <span class="glyphicon glyphicon-picture"></span>
      </button>
      <button title="Movie trailer" class="btn trailer" ng-click="$state.go('main.movies.trailer', {'name': movie.trackName, 'position': $index})">
        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
      </button>
      <button title="movie information" class="btn trailer" ng-click="$state.go('main.movies.full', {'name': movie.trackName, 'position': $index})">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
