<header class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="menu in menus" ui-sref-active="active">
      <a ui-sref="{{ menu }}">{{ menu }} </a>
    </li>
  </ul>
  <h3 class="text-muted">myApp</h3>
</header>
<div class="jumbotron">
  <h1>Main view</h1>
  <p>Some random slogen text</p>
</div>
<div class="row">
  <section class="col-xs-6">
    <p>text1</p>
    <p>text2</p>
    <p>text3</p>
    <p>text4</p>
  </section>
  <section class="col-xs-6">
    <p>text1</p>
    <p>text2</p>
    <p>text3</p>
    <p>text4</p>
  </section>
</div>
<footer class="footer">
  <p>My footer text</p>
</footer>
